/* 
body {
    font-family: 'Vollkorn', serif;
    font-size: 14px !important;
} */

/* h1, h2, h3 {
    font-family: Lato, sans-serif;
    font-weight: bold !important;
} */

p {
    text-align: justify;
}