
body {
    font-family: Vollkorn, serif;
    font-size: 14px !important;
}

tbody {
    font-family: monospace;
}

h1, h2, h3 {
    font-family: Lato, sans-serif;
    font-weight: bold !important;
}
